#include "Resource.h" //includes all necessary resource definitions

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST DISCARDABLE "XpTheme.xml"

// Icons ------------------------------------------------------------------------------------------

ICON_APP_32  ICON DISCARDABLE "..\Icons\OA32.ico"
ICON_GIFT    ICON DISCARDABLE "..\Icons\Gift_16x16_04.ico"
ICON_OPEN    ICON DISCARDABLE "..\Icons\Open_16x16_04.ico"
ICON_NEW     ICON DISCARDABLE "..\Icons\New_16x16_04.ico"
ICON_SAVE    ICON DISCARDABLE "..\Icons\Save_16x16_04.ico"
ICON_SAVEAS  ICON DISCARDABLE "..\Icons\SaveAs_16x16_04.ico"
ICON_CUT     ICON DISCARDABLE "..\Icons\Cut_16x16_04.ico"
ICON_COPY    ICON DISCARDABLE "..\Icons\Copy_16x16_04.ico"
ICON_PASTE   ICON DISCARDABLE "..\Icons\Paste_16x16_04.ico"

CURSOR_HAND  CURSOR "..\Cursors\Hand.cur"


// Bitmaps ----------------------------------------------------------------------------------------

BMP_BACKGROUND	BITMAP "..\Bmps\WndBkgnd.bmp"


// IDs --------------------------------------------------------------------------------------------

#define IDC_STATIC1 100
#define IDC_STATIC2 101
#define IDC_STATIC3 102

#define IDC_RADIO1  200
#define IDC_RADIO2  201
#define IDC_RADIO3  202
#define IDC_CHECK1  300

#define IDM_HELLO	1000
#define IDM_EXIT	1001
#define IDM_ABOUT	1999


// Dialogs ----------------------------------------------------------------------------------------

#include "..\Dialogs\DialogAbout.rc"


// Menus ------------------------------------------------------------------------------------------

MENU_APP MENUEX DISCARDABLE
BEGIN
  POPUP "&File", 0, MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "Hallo World", IDM_HELLO, MFT_STRING, MFS_ENABLED
    MENUITEM MFT_SEPARATOR
    MENUITEM "&Exit",       IDM_EXIT,  MFT_STRING, MFS_ENABLED
  END
  POPUP "&Help", 0, MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "&About",      IDM_ABOUT, MFT_STRING, MFS_ENABLED
  END
END


// Stringtable ------------------------------------------------------------------------------------

STRINGTABLE
MOVEABLE PURE LOADONCALL DISCARDABLE
BEGIN
  0050, "New"
  0051, "Open"
  0052, "Save"
  0053, "Save as"
  0054, "Cut"
  0055, "Copy"
  0056, "Paste"
  0060, "Receive"
  0061, "Send"
  1001, "Test Dialog"
  1000, "Exit SDI Application"
END
