#define IDD_DLG_MAIN 1000
#define IDC_STC_BACKGROUND 1003
#define IDC_BTN_START 1001
#define IDC_STC_LOCAL_HOST_PORT 1006
#define IDC_EDT_LOCAL_HOST_PORT 1007
#define IDC_STC_DESTINATION_ADDRESS 1009
#define IDC_EDT_DESTINATION_PORT 1012
#define IDC_STC_DESTINATION_PORT 1011
#define IDC_BTN_STOP 1002
#define IDC_IPA_DESTINATION_ADDRESS 1010
#define IDC_STC_LOCAL_HOST_ADDRESS 1004
#define IDC_CBO_LOCAL_HOST_ADDRESS 1005
#define IDC_UDN_LOCAL_HOST_PORT 1008
#define IDC_UDN_DESTINATION_PORT 1013
IDD_DLG_MAIN DIALOGEX 5,4,174,106
FONT 10,"Segoe UI",400,0
STYLE 0x96CA0890
EXSTYLE 0x00000000
BEGIN
  CONTROL "IDC_STC",IDC_STC_BACKGROUND,"Static",0x50000006,0,81,174,24,0x00000000
  CONTROL "&Start",IDC_BTN_START,"Button",0x50010001,107,87,62,14,0x00000000
  CONTROL "Sto&p",IDC_BTN_STOP,"Button",0x58010000,40,87,62,14,0x00000000
  CONTROL "&Local Host Address:",IDC_STC_LOCAL_HOST_ADDRESS,"Static",0x50000202,6,7,77,10,0x00000000
  CONTROL "",IDC_CBO_LOCAL_HOST_ADDRESS,"ComboBox",0x50210203,90,5,79,72,0x00000000
  CONTROL "Local &Host Port:",IDC_STC_LOCAL_HOST_PORT,"Static",0x50000202,6,21,77,10,0x00000000
  CONTROL "",IDC_EDT_LOCAL_HOST_PORT,"Edit",0x50010000,90,21,44,11,0x00000200
  CONTROL "",IDC_UDN_LOCAL_HOST_PORT,"msctls_updown32",0x500001B2,135,21,9,11,0x00000000
  CONTROL "Destination &Address:",IDC_STC_DESTINATION_ADDRESS,"Static",0x50000202,6,43,77,10,0x00000000
  CONTROL "",IDC_IPA_DESTINATION_ADDRESS,"SysIPAddress32",0x50010000,90,42,71,11,0x00000000
  CONTROL "&Destination Port:",IDC_STC_DESTINATION_PORT,"Static",0x50000202,6,57,77,10,0x00000000
  CONTROL "",IDC_EDT_DESTINATION_PORT,"Edit",0x50010000,90,57,44,11,0x00000200
  CONTROL "",IDC_UDN_DESTINATION_PORT,"msctls_updown32",0x500001B2,135,57,9,11,0x00000000
END
