; ==================================================================================================
; Title:      SVC_Template.rc
; Author:     G. Friedrich
; Notes:      See SVC_Template.asm.
; ==================================================================================================


#include "Resource.h"               //Windows resource definitions
#include "SVC_Template_Shared.rc"   //Service shared definitions
#include "VER\Version.rc"           //Service version definition
#include "MFT\Manifest_Invoker.rc"  //Service manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


