#define IDD_DLG_MAIN 1000
#define IDC_STC_BACKGROUND 1004
#define IDC_GRP_SERVER 1200
#define IDC_GRP_CLIENT 1100
#define IDC_BTN_START 1001
#define IDC_STC_CLIENT_LOCAL_PORT 1103
#define IDC_EDT_CLIENT_LOCAL_PORT 1104
#define IDC_STC_SERVER_REMOTE_ADDR 1207
#define IDC_EDT_SERVER_REMOTE_PORT 1210
#define IDC_STC_SERVER_REMOTE_PORT 1209
#define IDC_BTN_STOP 1002
#define IDC_STC_CLIENT_LOCAL_ADDR 1101
#define IDC_CBO_CLIENT_LOCAL_ADDR 1102
#define IDC_UDN_CLIENT_LOCAL_PORT 1105
#define IDC_UDN_SERVER_REMOTE_PORT 1211
#define IDC_CBO_SERVER_LOCAL_ADDR 1202
#define IDC_STC_SERVER_LOCAL_ADDR 1201
#define IDC_UDN_SERVER_LOCAL_PORT 1206
#define IDC_EDT_SERVER_LOCAL_PORT 1205
#define IDC_STC_SERVER_LOCAL_PORT 1204
#define IDC_CHK_SERVER_USE_EPHEM_PORT 1203
#define IDC_CBO_SERVER_REMOTE_ADDR 1208
#define IDC_GRP_TIMING 1300
#define IDC_UDN_INACTIVITY_TIMEOUT 1303
#define IDC_EDT_INACTIVITY_TIMEOUT 1302
#define IDC_STC_INACTIVITY_TIMEOUT 1301
#define IDC_STC_INACTIVITY_UNIT 1304
#define IDC_BTN_ABOUT 1003
IDD_DLG_MAIN DIALOGEX 5,5,209,237
FONT 9,"Segoe UI",400,0
STYLE 0xB6CA0810
EXSTYLE 0x00020005
BEGIN
  CONTROL "IDC_STC",IDC_STC_BACKGROUND,"Static",0x50000006,0,209,209,27,0x00000000
  CONTROL "&Start",IDC_BTN_START,"Button",0x50010001,154,216,48,16,0x00000000
  CONTROL "Sto&p",IDC_BTN_STOP,"Button",0x58010000,97,216,48,16,0x00000000
  CONTROL "Client Connection",IDC_GRP_CLIENT,"Button",0x50020007,5,3,199,50,0x00000020
  CONTROL "&Local  Address:",IDC_STC_CLIENT_LOCAL_ADDR,"Static",0x50000202,12,20,58,13,0x00000000
  CONTROL "",IDC_CBO_CLIENT_LOCAL_ADDR,"ComboBox",0x50210203,78,19,105,13,0x00000000
  CONTROL "Local &Port:",IDC_STC_CLIENT_LOCAL_PORT,"Static",0x50000202,12,35,58,13,0x00000000
  CONTROL "",IDC_EDT_CLIENT_LOCAL_PORT,"Edit",0x50010000,78,35,72,13,0x00000200
  CONTROL "",IDC_UDN_CLIENT_LOCAL_PORT,"msctls_updown32",0x500001B2,152,35,9,13,0x00000000
  CONTROL "Server Connection",IDC_GRP_SERVER,"Button",0x50000007,5,59,199,107,0x00000020
  CONTROL "L&ocal  Address:",IDC_STC_SERVER_LOCAL_ADDR,"Static",0x50000202,12,72,58,13,0x00000000
  CONTROL "",IDC_CBO_SERVER_LOCAL_ADDR,"ComboBox",0x50210203,78,70,105,13,0x00000000
  CONTROL "&Use Ephemeral Port",IDC_CHK_SERVER_USE_EPHEM_PORT,"Button",0x50010003,78,91,91,13,0x00000000
  CONTROL "Lo&cal Port:",IDC_STC_SERVER_LOCAL_PORT,"Static",0x50000202,12,105,58,13,0x00000000
  CONTROL "",IDC_EDT_SERVER_LOCAL_PORT,"Edit",0x50010000,78,105,72,13,0x00000200
  CONTROL "",IDC_UDN_SERVER_LOCAL_PORT,"msctls_updown32",0x500001B2,152,105,9,13,0x00000000
  CONTROL "&Remote Address:",IDC_STC_SERVER_REMOTE_ADDR,"Static",0x50000202,12,128,58,13,0x00000000
  CONTROL "",IDC_CBO_SERVER_REMOTE_ADDR,"ComboBox",0x50210202,78,128,105,13,0x00000000
  CONTROL "R&emote Port:",IDC_STC_SERVER_REMOTE_PORT,"Static",0x50000202,12,145,58,13,0x00000000
  CONTROL "",IDC_EDT_SERVER_REMOTE_PORT,"Edit",0x50010000,78,145,72,13,0x00000200
  CONTROL "",IDC_UDN_SERVER_REMOTE_PORT,"msctls_updown32",0x500001B2,152,145,9,13,0x00000000
  CONTROL "Timing",IDC_GRP_TIMING,"Button",0x50000007,5,171,199,34,0x00000020
  CONTROL "&Inactivity Timeout:",IDC_STC_INACTIVITY_TIMEOUT,"Static",0x50000202,12,184,58,13,0x00000000
  CONTROL "",IDC_EDT_INACTIVITY_TIMEOUT,"Edit",0x50012000,78,184,48,13,0x00000200
  CONTROL "",IDC_UDN_INACTIVITY_TIMEOUT,"msctls_updown32",0x500001B2,128,184,9,13,0x00000000
  CONTROL "Seconds",IDC_STC_INACTIVITY_UNIT,"Static",0x50000200,145,184,38,13,0x00000000
  CONTROL "&About",IDC_BTN_ABOUT,"Button",0x50010000,8,216,48,16,0x00000000
END
